.container {
  width: 100%;
  height: 100vh;
}
.list-container {
  margin: auto;
  width: 50%;
}
.list-item-container {
  display: flex;
}
.list-item {
  display: flex;
  align-items: center;
}

.list-item a {
  padding-right: 10px;
}
.search-container {
  display: flex;
  justify-content: center;
}
.search-bar {
  height: 40px;
  width: 60%;
  padding: 10px;
  margin: 10px;
}
